body {
  background-image: url("https://images.unsplash.com/photo-1559762705-2123aa9b467f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3870&q=80");
  background-size: cover;
  animation: slideup 100s linear alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 0;
  margin: 0;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@keyframes slideup {
  from {
    background-position: -100px 0px;
    background-size: 100vw;
  }
  to {
    background-position: 0px 0px;
    background-size: 5000px;
  }
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(192, 188, 188, 0.5);
  border-radius: 3px;
}

.frontpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: clamp(1rem, 8vw, 4.5rem);
  font-family: "Bebas Neue", sans-serif;
  color: rgb(5, 5, 5);
  margin-top: 0;
}

h3 {
  margin: 0;
  margin-bottom: 5px;
}

button {
  margin: 10px;
  height: 48px;
  background-color: grey;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.25rem;
  transition: all 0.3s;
}
button:hover {
  transition: all 0.3s;
  border-radius: 0px;
}

.era1989Btn {
  background-color: rgb(58, 162, 231);
  font-family: "Permanent Marker", cursive;
  letter-spacing: 1px;
}

.reputationBtn {
  background-color: white;
  color: black;
  font-family: "Caudex", serif;
  font-weight: bold;
}

.loverBtn {
  background-color: #b8396b;
  font-family: "Dancing Script", cursive;
}

.folkloreBtn {
  background-color: #3e3e3e;
  font-family: "Kaushan Script", cursive;
  font-size: 1rem;
}

.midnightsBtn {
  background-color: #9d7bb0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.subpageBody {
  width: 100%;
  height: 100%;
  animation: fadeIn 0.3s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.subpageMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrowHome {
  width: 50px;
  height: auto;
  padding: 20px;
  padding-bottom: 0;
  animation: grow 2s infinite alternate;
}

@keyframes grow {
  from {
    scale: 0.9;
  }
  to {
    scale: 1.1;
  }
}
.subpageContent {
  display: flex;
  flex-direction: row;
}

.images {
  display: flex;
  position: relative;
}

.albumCover {
  height: 15vw;
  width: 15vw;
  top: -50px;
  left: -100px;
  position: absolute;
  z-index: 1;
  animation: slide 1s ease-in-out;
}

.horizontalImg {
  height: 15vw;
  width: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 150px;
  left: -100px;
  animation: slide 1s ease-in-out;
}

.verticalImg {
  height: 25vw;
  width: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  left: -150px;
  top: -20px;
  animation: slide 1.5s ease-in-out;
}

@keyframes slide {
  0% {
    left: -1000px;
    opacity: 0;
  }
  70% {
    opacity: 0.1;
  }
  100% {
    left: -70px;
    opacity: 1;
  }
}
.iframeSpotify {
  border-radius: 15px;
  border-color: transparent;
}

.songs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}/*# sourceMappingURL=App.css.map */